In [119]:
import pandas as pd
from sklearn import preprocessing
from sklearn import metrics

In [63]:
train = pd.read_csv(r'C:\Users\Rohit\Documents\Hackothons\Dataset/Train.csv')

In [64]:
test = pd.read_csv(r'C:\Users\Rohit\Documents\Hackothons\Dataset/Test.csv')

In [65]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5566 entries, 0 to 5565
Data columns (total 6 columns):
Inv_Id              5566 non-null int64
Vendor_Code         5566 non-null object
GL_Code             5566 non-null object
Inv_Amt             5566 non-null float64
Item_Description    5566 non-null object
Product_Category    5566 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 261.0+ KB

In [66]:
train.describe()

             Inv_Id      Inv_Amt
count   5566.000000  5566.000000
mean   19010.787100    49.980151
std     2306.607485    28.903030
min    15001.000000     0.010000
25%    17006.250000    24.957500
50%    19017.500000    49.645000
75%    20994.750000    75.170000
max    23012.000000    99.990000

In [67]:
train.head(10)

,Inv_Id,Vendor_Code,GL_Code,Inv_Amt,Item_Description,Product_Category
0,15001,VENDOR-1676,GL-6100410,83.24,Artworking/Typesetting Production Jun 2009 Cha...,CLASS-1963
1,15002,VENDOR-1883,GL-2182000,51.18,Auto Leasing Corporate Services Corning Inc /N...,CLASS-1250
2,15004,VENDOR-1999,GL-6050100,79.02,Store Management Lease/Rent Deltona Corp Real ...,CLASS-1274
3,15005,VENDOR-1771,GL-6101400,48.50,Store Construction General Requirements Coloni...,CLASS-1522
4,15006,VENDOR-1331,GL-2182000,63.35,Jul 2015 Aydin Corp Contingent Labor/Temp Labo...,CLASS-1376
5,15007,VENDOR-2076,GL-6101400,32.28,Final Site Clean Up 2018Mar Store Construction...,CLASS-1522
6,15009,VENDOR-1802,GL-6050310,5.38,Travel and Entertainment Miscellaneous Company...,CLASS-1758
7,15010,VENDOR-1191,GL-6101400,31.21,General Contractor General Requirements Final ...,CLASS-1522
8,15011,VENDOR-2120,GL-6100410,42.89,Aquila Distributors Inc ...,CLASS-1963
9,15012,VENDOR-1704,GL-6050100,59.50,Base Rent Store Management Chicago Rivet & Mac...,CLASS-1274

In [68]:
train.groupby(['Vendor_Code','Product_Category']).count()

                              Inv_Id  GL_Code  Inv_Amt  Item_Description
Vendor_Code Product_Category
VENDOR-1000 CLASS-1964             1        1        1                 1
VENDOR-1003 CLASS-1274             1        1        1                 1
VENDOR-1005 CLASS-1274             1        1        1                 1
VENDOR-1006 CLASS-1274             2        2        2                 2
VENDOR-1007 CLASS-1274             1        1        1                 1
VENDOR-1008 CLASS-1274             1        1        1                 1
VENDOR-1010 CLASS-1274             1        1        1                 1
VENDOR-1011 CLASS-1274             1        1        1                 1
VENDOR-1012 CLASS-1274             1        1        1                 1
VENDOR-1013 CLASS-1274             2        2        2                 2
VENDOR-1014 CLASS-1274             1        1        1                 1
VENDOR-1016 CLASS-1274             1        1        1                 1
VENDOR-1018 CLASS-1274             1        1        1                 1
VENDOR-1019 CLASS-1274             2        2        2                 2
VENDOR-1021 CLASS-1274             1        1        1                 1
VENDOR-1022 CLASS-1274             6        6        6                 6
VENDOR-1024 CLASS-1274             1        1        1                 1
VENDOR-1025 CLASS-1274             6        6        6                 6
VENDOR-1026 CLASS-1274             1        1        1                 1
VENDOR-1027 CLASS-1274             2        2        2                 2
            CLASS-1522             1        1        1                 1
VENDOR-1028 CLASS-2038             5        5        5                 5
VENDOR-1030 CLASS-1274             1        1        1                 1
VENDOR-1031 CLASS-1274             1        1        1                 1
VENDOR-1032 CLASS-1274             1        1        1                 1
VENDOR-1033 CLASS-1274             1        1        1                 1
VENDOR-1034 CLASS-1828             1        1        1                 1
            CLASS-1919             2        2        2                 2
VENDOR-1035 CLASS-1828             1        1        1                 1
VENDOR-1036 CLASS-1721             6        6        6                 6
...                              ...      ...      ...               ...
VENDOR-2520 CLASS-1294             2        2        2                 2
VENDOR-2521 CLASS-1294             1        1        1                 1
VENDOR-2522 CLASS-1522             1        1        1                 1
VENDOR-2523 CLASS-1274             1        1        1                 1
VENDOR-2524 CLASS-1274             1        1        1                 1
VENDOR-2525 CLASS-1376             1        1        1                 1
VENDOR-2526 CLASS-1274             1        1        1                 1
VENDOR-2530 CLASS-1274             2        2        2                 2
VENDOR-2531 CLASS-1274             1        1        1                 1
VENDOR-2536 CLASS-1477             1        1        1                 1
VENDOR-2537 CLASS-1964             2        2        2                 2
VENDOR-2539 CLASS-2038             1        1        1                 1
VENDOR-2541 CLASS-1274             1        1        1                 1
VENDOR-2542 CLASS-1429             2        2        2                 2
VENDOR-2543 CLASS-2146             1        1        1                 1
VENDOR-2544 CLASS-1274             2        2        2                 2
VENDOR-2546 CLASS-1274             1        1        1                 1
VENDOR-2547 CLASS-1274             1        1        1                 1
VENDOR-2549 CLASS-1770             1        1        1                 1
            CLASS-1963            16       16       16                16
VENDOR-2550 CLASS-1522             1        1        1                 1
VENDOR-2551 CLASS-1522             1        1        1                 1
VENDOR-2552 CLASS-1376             3        3        3                 3
VENDOR-2553 CLASS-2141             1        1        1                 1
VENDOR-2554 CLASS-1770             2        2        2                 2
VENDOR-2555 CLASS-1964             1        1        1                 1
VENDOR-2556 CLASS-2112             1        1        1                 1
VENDOR-2557 CLASS-1249             1        1        1                 1
VENDOR-2558 CLASS-2241             2        2        2                 2
VENDOR-2559 CLASS-2003             5        5        5                 5

[1335 rows x 4 columns]

In [69]:
train['Item_Description'].head(20)

0     Artworking/Typesetting Production Jun 2009 Cha...
1     Auto Leasing Corporate Services Corning Inc /N...
2     Store Management Lease/Rent Deltona Corp Real ...
3     Store Construction General Requirements Coloni...
4     Jul 2015 Aydin Corp Contingent Labor/Temp Labo...
5     Final Site Clean Up 2018Mar Store Construction...
6     Travel and Entertainment Miscellaneous Company...
7     General Contractor General Requirements Final ...
8     Aquila Distributors Inc                       ...
9     Base Rent Store Management Chicago Rivet & Mac...
10    Ground Transportation Travel and Entertainment...
11    Base Rent Store Management Bio Rad Laboratorie...
12    Real Estate Lease/Rent Base Rent Allegheny Ene...
13    First Options Of Chicago, Inc. 2017-Jan  SMAP ...
14    Chesapeake Shores Beach & Country Club I 2012M...
15    Travel and Entertainment Miscellaneous Company...
16    Final Site Clean Up 2007Nov Store Construction...
17    Miscellaneous Company Car (Field Only) Oct2018...
18    SMAP Artworking/Typesetting Electro Catheter C...
19    Ground Transportation Miscellaneous Company Ca...
Name: Item_Description, dtype: object

In [70]:
train['Item_Description'] = train['Item_Description'].str.replace("[^a-zA-Z#]", " ")

In [71]:
train['Item_Description'].head(10)

0    Artworking Typesetting Production Jun      Cha...
1    Auto Leasing Corporate Services Corning Inc  N...
2    Store Management Lease Rent Deltona Corp Real ...
3    Store Construction General Requirements Coloni...
4    Jul      Aydin Corp Contingent Labor Temp Labo...
5    Final Site Clean Up     Mar Store Construction...
6    Travel and Entertainment Miscellaneous Company...
7    General Contractor General Requirements Final ...
8    Aquila Distributors Inc                       ...
9    Base Rent Store Management Chicago Rivet   Mac...
Name: Item_Description, dtype: object

In [72]:
seprate_word = train['Item_Description'].apply(lambda x: x.split())

In [73]:
seprate_word

0       [Artworking, Typesetting, Production, Jun, Cha...
1       [Auto, Leasing, Corporate, Services, Corning, ...
2       [Store, Management, Lease, Rent, Deltona, Corp...
3       [Store, Construction, General, Requirements, C...
4       [Jul, Aydin, Corp, Contingent, Labor, Temp, La...
5       [Final, Site, Clean, Up, Mar, Store, Construct...
6       [Travel, and, Entertainment, Miscellaneous, Co...
7       [General, Contractor, General, Requirements, F...
8       [Aquila, Distributors, Inc, Bd, Prototype, and...
9       [Base, Rent, Store, Management, Chicago, Rivet...
10      [Ground, Transportation, Travel, and, Entertai...
11      [Base, Rent, Store, Management, Bio, Rad, Labo...
12      [Real, Estate, Lease, Rent, Base, Rent, Allegh...
13      [First, Options, Of, Chicago, Inc, Jan, SMAP, ...
14      [Chesapeake, Shores, Beach, Country, Club, I, ...
15      [Travel, and, Entertainment, Miscellaneous, Co...
16      [Final, Site, Clean, Up, Nov, Store, Construct...
17      [Miscellaneous, Company, Car, Field, Only, Oct...
18      [SMAP, Artworking, Typesetting, Electro, Cathe...
19      [Ground, Transportation, Miscellaneous, Compan...
20      [SMAP, Digital, Display, Production, Digital, ...
21      [Flightsafety, International, Inc, Final, Site...
22      [Nov, First, Real, Estate, Investment, Trust, ...
23      [Information, Technology, IT, Managed, Service...
24      [Fort, Howard, Corp, Oct, Travel, and, Enterta...
25      [Base, Rent, Store, Management, Aig, Equity, S...
26      [Daly, John, J, Auto, Fleet, Repair, and, Main...
27      [Jul, Corning, Inc, Ny, Auto, Leasing, Auto, L...
28      [Travel, and, Entertainment, Miscellaneous, Co...
29      [Miscellaneous, Company, Car, Field, Only, Mar...
                              ...
5536    [Base, Rent, Store, Management, Chemed, Corp, ...
5537    [Base, Rent, Store, Management, Data, Document...
5538    [Real, Estate, Store, Management, Lease, Rent,...
5539    [Travel, and, Entertainment, Miscellaneous, Co...
5540    [Aug, Daly, John, J, Miscellaneous, Company, C...
5541    [SMAP, Media, Buy, Traditional, Dr, Pepper, Co...
5542    [Ground, Transportation, Miscellaneous, Compan...
5543    [Miscellaneous, Company, Car, Field, Only, Tra...
5544    [Ami, Industries, Inc, Base, Rent, Mar, Lease,...
5545    [Aquila, Distributors, Inc, Bd, May, SMAP, Pro...
5546    [Freight, Forwarders, Services, Other, Mar, Su...
5547    [Prototype, and, Comp, Production, Packaging, ...
5548    [Final, Site, Clean, Up, Apr, Store, Construct...
5549    [Corporate, Services, Workmen, s, Insurance, A...
5550    [Facility, Construction, General, Requirements...
5551    [Human, Resources, Corporate, Services, Benefi...
5552    [Apr, Alaska, Power, Telephone, Co, Store, Fix...
5553    [Corporate, Services, Contingent, Labor, Temp,...
5554    [Corporate, Services, Auto, Leasing, Other, Co...
5555    [Miscellaneous, Company, Car, Field, Only, Tra...
5556    [Facility, Management, Lease, Rent, Alabama, T...
5557    [Corporate, Services, Contingent, Labor, Temp,...
5558    [Alabama, Power, Co, Freight, Forwarders, Serv...
5559    [Miscellaneous, Company, Car, Field, Only, Gro...
5560    [General, Contractor, General, Requirements, F...
5561    [Human, Resources, Corporate, Services, Contin...
5562    [Logistics, Transportation, Services, Parcel, ...
5563    [Sep, Addmaster, Corp, Magazines, Media, Buy, ...
5564    [Information, Technology, IT, Managed, Service...
5565    [Ground, Transportation, Travel, and, Entertai...
Name: Item_Description, Length: 5566, dtype: object

In [74]:
for i in range(len(seprate_word)):
    seprate_word[i] = ' '.join(seprate_word[i])

train['Item_Description'] = seprate_word
train['Item_Description'].head(10)

0    Artworking Typesetting Production Jun Champion...
1    Auto Leasing Corporate Services Corning Inc Ny...
2    Store Management Lease Rent Deltona Corp Real ...
3    Store Construction General Requirements Coloni...
4    Jul Aydin Corp Contingent Labor Temp Labor Con...
5    Final Site Clean Up Mar Store Construction Dra...
6    Travel and Entertainment Miscellaneous Company...
7    General Contractor General Requirements Final ...
8    Aquila Distributors Inc Bd Prototype and Comp ...
9    Base Rent Store Management Chicago Rivet Machi...
Name: Item_Description, dtype: object

In [109]:
from nltk.probability import FreqDist
fdist = FreqDist(Item_Description)
print(fdist)

NameError: name 'Item_Description' is not defined

In [83]:
train.groupby('Item_Description').count()

,Vendor_Code,GL_Code,Product_Category
Item_Description,,,
Aberdeen Idaho Mining Co Sep Facility Management Real Estate Lease Rent Base Rent,1,1,1
Ace Hardware Corp Base Rent Jun Lease Rent Real Estate Store Management,1,1,1
Acf Industries Inc Base Rent Aug Lease Rent Real Estate Store Management,1,1,1
Acme Cleveland Corp Base Rent Jul Lease Rent Real Estate Store Management,1,1,1
Acme United Corp Sep Store Management Real Estate Lease Rent Base Rent,1,1,1
Adage Inc Sep SMAP Production Agency Fees Commissions Other Agency,1,1,1
Addmaster Corp Magazines Nov Media Buy Traditional National Advertising SMAP,1,1,1
Advanced Clearing Inc Bd Apr Store Management Real Estate Lease Rent Base Rent,1,1,1
Advanced Micro Devices Inc Final Site Clean Up Aug General Requirements General Contractor Store Construction,1,1,1
Advanced Micro Devices Inc Final Site Clean Up Jul General Requirements General Contractor Store Construction,1,1,1
Advanzeon Solutions Inc Final Site Clean Up Jul General Requirements General Contractor Store Construction,1,1,1
Aeire Corp Apr Corporate Services Other Corporate Services Auto Leasing and Maintenance Auto Fleet Repair and Maintenance,1,1,1
Aeire Corp Feb Travel and Entertainment Ground Transportation Miscellaneous Company Car Field Only Miscellaneous Company Car Field Only,1,1,1
Aerosonic Corp Fl Contingent Labor Temp Labor Aug Contingent Labor Temp Labor Human Resources Corporate Services,1,1,1
Aerosonic Corp Fl Contingent Labor Temp Labor May Contingent Labor Temp Labor Human Resources Corporate Services,1,1,1
Aerotelesis Inc Real Estate General Search Appraisal Realtor Commission Jan Real Estate Services Real Estate Store Management,1,1,1
Aerovox Corp Jul Store Construction Fixtures Store Fixtures Store Fixtures,1,1,1
Agency Fees Commissions Production Aug Acme Electric Corp Employee Stock Purchase Plan SMAP Search Agency,1,1,1
Agency Fees Commissions Production Aug Borden Chemical Inc SMAP Other Agency,1,1,1
Agency Fees Commissions Production Feb Allen Group Inc SMAP Other Agency,1,1,1
Agency Fees Commissions Production Jun Ames Department Stores Inc SMAP Other Agency,1,1,1
Agency Fees Commissions Production Jun Boeing Co SMAP Other Agency,1,1,1
Agency Fees Commissions Production Jun El Paso Natural Gas Co SMAP Other Agency,1,1,1
Agency Fees Commissions Production Mar Boeing Co SMAP Other Agency,1,1,1
Agency Fees Commissions Production Sep Astrex Inc SMAP Other Agency,1,1,1
Agency Fees Commissions Production Sep Charlotte Motor Speedway Inc SMAP Other Agency,1,1,1
Agf Investment Corp Bd Outdoor Out of Home Jun Media Buy Traditional National Advertising SMAP,1,1,1
Agl Separate Account Va Base Rent Aug Lease Rent Real Estate Store Management,1,1,1
Agway Inc Auto Fleet Repair and Maintenance Aug Auto Leasing and Maintenance Other Corporate Services Corporate Services,1,1,1
Ainsbrooke Corp Oct Store Management Real Estate Lease Rent Base Rent,1,1,1
...,...,...,...
Travel and Entertainment Miscellaneous Company Car Field Only Metric Capital Corp Bd Ground Transportation Miscellaneous Company Car Field Only Oct,2,2,2
Travel and Entertainment Miscellaneous Company Car Field Only Principal Life Insurance Co Separate Account B Ground Transportation Miscellaneous Company Car Field Only Dec,1,1,1
Travel and Entertainment Miscellaneous Company Car Field Only Principal Life Insurance Co Separate Account B Ground Transportation Miscellaneous Company Car Field Only Oct,1,1,1
Travel and Entertainment Miscellaneous Company Car Field Only Rini Rego Supermarkets Inc Ground Transportation Miscellaneous Company Car Field Only Sep,1,1,1
Travel and Entertainment Miscellaneous Company Car Field Only Texas New Mexico Power Co Ground Transportation Miscellaneous Company Car Field Only Dec,1,1,1
Travel and Entertainment Miscellaneous Company Car Field Only Texas New Mexico Power Co Ground Transportation Miscellaneous Company Car Field Only Jan,2,2,2
Travel and Entertainment Miscellaneous Company Car Field Only Texas New Mexico Power Co Ground Transportation Miscellaneous Company Car Field Only Jul,3,3,3
Travel and Entertainment Miscellaneous Company Car Field Only Texas New Mexico Power Co Ground Transportation Miscellaneous Company Car Field Only Jun,1,1,1
Travel and Entertainment Miscellaneous Company Car Field Only Texas New Mexico Power Co Ground Transportation Miscellaneous Company Car Field Only Mar,2,2,2
Travel and Entertainment Miscellaneous Company Car Field Only Texas New Mexico Power Co Ground Transportation Miscellaneous Company Car Field Only Sep,2,2,2
Tri Valley Corp Real Estate General Search Appraisal Realtor Commission May Real Estate Services Real Estate Store Management,1,1,1
United Magazine Co Contingent Labor Temp Labor Jul Contingent Labor Temp Labor Human Resources Corporate Services,1,1,1
Washington Security Life Insurance Co Store Fixtures Apr Store Fixtures Fixtures Store Construction,1,1,1
Washington Security Life Insurance Co Store Fixtures Sep Store Fixtures Fixtures Store Construction,1,1,1
Westford Group Inc Apr Store Construction General Contractor General Requirements Final Site Clean Up,1,1,1
Westford Group Inc Final Site Clean Up Aug General Requirements General Contractor Store Construction,1,1,1
Westford Group Inc Final Site Clean Up Dec General Requirements General Contractor Store Construction,1,1,1
Westford Group Inc Final Site Clean Up May General Requirements General Contractor Store Construction,1,1,1
Workmen s Insurance Apr Corporate Services Cencor Inc Commercial Insurance Workmen s Insurance,1,1,1
Workmen s Insurance Aug Corporate Services Cencor Inc Commercial Insurance Workmen s Insurance,1,1,1
Workmen s Insurance Commercial Insurance Feb Invesco Distributors Inc Bd Corporate Services Workmen s Insurance,1,1,1
Workmen s Insurance Commercial Insurance Oct Family Dollar Stores Inc Corporate Services Workmen s Insurance,1,1,1
Workmen s Insurance Corporate Services Asarco Inc Oct Workmen s Insurance Commercial Insurance,1,1,1
Workmen s Insurance Corporate Services Bates Charles Howard Sep Workmen s Insurance Commercial Insurance,1,1,1
Workmen s Insurance Corporate Services Furon Co Feb Workmen s Insurance Commercial Insurance,1,1,1
Workmen s Insurance Dec Corporate Services Fpa Corp De Commercial Insurance Workmen s Insurance,1,1,1
Workmen s Insurance Jan Corporate Services Cooper Investment Co Inc Bd Commercial Insurance Workmen s Insurance,1,1,1
Workmen s Insurance Jun Corporate Services Three D Departments Inc Commercial Insurance Workmen s Insurance,1,1,1
Workmen s Insurance May Corporate Services Froley Revy Investment Co Inc Commercial Insurance Workmen s Insurance,1,1,1
World Wide Ltd Contingent Labor Temp Labor Nov Contingent Labor Temp Labor Human Resources Corporate Services,1,1,1

In [94]:
freq = pd.Series(' '.join(train['Item_Description']).split()).value_counts()[:10]
freq = list(freq.index)
freq

['General',
 'Corporate',
 'Transportation',
 'Entertainment',
 'Ground',
 'Travel',
 'Corp',
 'Labor',
 'Auto',
 'Co']

In [99]:

train['Item_Description'] = train['Item_Description'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train['Item_Description'].head()

0    Artworking Typesetting Production Jun Champion...
1     Leasing Corning Ny Mar Leasing Maintenance Other
2        Management Lease Deltona Real Estate Base Jul
3    Construction Requirements Colonial Trust Iii C...
4    Jul Aydin Contingent Temp Contingent Temp Huma...
Name: Item_Description, dtype: object

In [102]:
label_encoder = preprocessing.LabelEncoder()
# train['Item_Description'] = lable_encoder.fit_transform['Item_Description']

In [136]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import RegexpTokenizer
#tokenizer to remove unwanted elements from out data like symbols and numbers
token = RegexpTokenizer(r'[a-zA-Z0-9]+')
cv = CountVectorizer(lowercase=True,stop_words='english',ngram_range = (1,1),tokenizer = token.tokenize)
text_counts= cv.fit_transform(train['Item_Description'])
test_counts = cv.fit_transform(test['Item_Description'])

In [112]:
text_counts

<5566x1568 sparse matrix of type '<class 'numpy.int64'>'
	with 39983 stored elements in Compressed Sparse Row format>

In [114]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(text_counts, train['Product_Category'], test_size=0.30, random_state=42)

In [150]:
X_test

<1670x1568 sparse matrix of type '<class 'numpy.int64'>'
	with 11966 stored elements in Compressed Sparse Row format>

In [141]:
from sklearn.naive_bayes import MultinomialNB
gnb = MultinomialNB()
gnb.fit(X_train, y_train)
predicted= gnb.predict(X_test)

# model = tree.DecisionTreeClassifier(criterion='gini') 
# model.fit(X_train, y_train)

In [163]:
# train

In [164]:
# aa = X_test
# aa.show()

In [143]:
print("MultinomialNB Accuracy:",metrics.accuracy_score(y_test, predicted))

MultinomialNB Accuracy: 0.958083832335

In [140]:
test['Item_Description'] = test['Item_Description'].str.replace("[^a-zA-Z#]", " ")
test.head(4)

,Inv_Id,Vendor_Code,GL_Code,Inv_Amt,Item_Description
0,15003,VENDOR-2513,GL-6050310,56.13,and Miscellaneous Company Car Field Only Misce...
1,15008,VENDOR-1044,GL-6101400,96.56,Final Site Clean Up Store Construction Advance...
2,15013,VENDOR-1254,GL-6101400,55.93,Arabian American Development Final Site Clean ...
3,15019,VENDOR-1331,GL-2182000,32.62,Services Contingent Temp Human Resources Conti...

In [132]:
seprate_word = test['Item_Description'].apply(lambda x: x.split())

In [133]:
for i in range(len(seprate_word)):
    seprate_word[i] = ' '.join(seprate_word[i])

test['Item_Description'] = seprate_word
test['Item_Description'].head(10)

0    Travel and Entertainment Miscellaneous Company...
1    Final Site Clean Up Store Construction Advance...
2    Arabian American Development Co Final Site Cle...
3    Corporate Services Contingent Labor Temp Labor...
4    Fortune National Corp Miscellaneous Company Ca...
5    Dec Fortune National Corp Miscellaneous Compan...
6    Auto Leasing Corporate Services Corning Inc Ny...
7    Taxes Taxes Mar Frischs Restaurants Inc Non Pr...
8    Daly John J Auto Fleet Repair and Maintenance ...
9    SMAP Media Buy Traditional Cgg Holding U S Inc...
Name: Item_Description, dtype: object

In [134]:
test['Item_Description'] = test['Item_Description'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
test['Item_Description'].head()

0    and Miscellaneous Company Car Field Only Misce...
1    Final Site Clean Up Store Construction Advance...
2    Arabian American Development Final Site Clean ...
3    Services Contingent Temp Human Resources Conti...
4    Fortune National Miscellaneous Company Car Fie...
Name: Item_Description, dtype: object

# Use another method

In [166]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf=TfidfVectorizer()
text_tf= tf.fit_transform(train['Item_Description'])

In [167]:
text_tf

<5566x1575 sparse matrix of type '<class 'numpy.float64'>'
	with 42682 stored elements in Compressed Sparse Row format>

In [169]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    text_tf, train['Item_Description'], test_size=0.3, random_state=123)

In [170]:
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics
# Model Generation Using Multinomial Naive Bayes
clf = MultinomialNB().fit(X_train, y_train)
predicted= clf.predict(X_test)
print("MultinomialNB Accuracy:",metrics.accuracy_score(y_test, predicted))

MultinomialNB Accuracy: 0.0287425149701